{% extends 'base.html' %}

{% block css %}
	{% load static %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page_header" data-parallax-bg-image="{% static 'assets/img/1920x650-8.jpg' %}" data-parallax-direction="">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="haeder-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  /.End of page header -->
    <div class="faq_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="">

                        <!-- / accordion -->
                        <h3 class="accordion-title">FAQ</h3>
                        <ul class="accordion">
                            <li>
                                <a>Why choose CT?</a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
                                    architecto at debitis distinctio dolorem ducimus eos eveniet ex excepturi harum iusto molestias quae quas quasi quia quidem repudiandae temporibus voluptatem!
                                </p>
                            </li>

                            <li>
                                <a>Why use a peer to peer or B2B solution?</a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates?
                            </li>

                            <li>
                                <a>How long does it take to receive my funds?</a>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            </li>
                            <li>
                                <a>How do i get the VISA card?</a>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            </li>
                            <li>
                                <a>Are you a registered company?</a>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            </li>

                            <li>
                                <a>How it works</a>
                                <p>
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates
                                </p>
                            </li>

                            <li>
                                <a>How much will it cost?</a>
                                <p>
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates
                                </p>
                            </li>
                            <li>
                                <a>How do I register and verify my account on CT?</a>
                                <p>
                                    Individual users

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi laborum praesentium? Accusamus deserunt dicta,
                                    illo libero molestiae necessitatibus tempore tenetur voluptas. Adipisci culpa cum facilis molestiae reprehenderit totam veritatis.
                                </p>
                            </li>
                        </ul>
                        <!-- / accordion -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.End of page content -->
{% endblock %}