{% extends 'base.html' %}

{% block css %}
	{% load static %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <div class="page_header" data-parallax-bg-image="{% static 'assets/img/1920x650-6.jpg' %}" data-parallax-direction="">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="haeder-text">
                                <h1>Service</h1>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  /.End of page header -->
        <div class="service_content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Data Protection</h3>
                            <i class="flaticon-analytics"></i>
                            <p>P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Security Protected</h3>
                            <i class="flaticon-secure-shield"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Support 24/7</h3>
                            <i class="flaticon-people"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Payment Methods</h3>
                            <i class="flaticon-credit-card"></i>
                            <p>Perfectly elaborated and calculated investment plans for depositPerfectly elaborated and
                                c profit during the entire term of the deposit.</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Registered Company</h3>
                            <i class="flaticon-money-2"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Secured Company</h3>
                            <i class="flaticon-money-1"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Live Exchange Rates</h3>
                            <i class="flaticon-bitcoin"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Cryptocurrency Investments</h3>
                            <i class="flaticon-bitcoin-1"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="features-box">
                            <h3 class="features-title">Secured Company</h3>
                            <i class="flaticon-money-1"></i>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus eligendi in incidunt magni molestiae officia,
                                    pariatur porro sit voluptatum. Ad adipisci esse itaque necessitatibus quis sapiente, sunt ullam voluptates</p>
                            <a href="#" class="link-btn">Discover More <span class="lnr lnr-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End of page content -->
{% endblock %}