<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}Admin Portal{% endblock %}</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'CTAdmin/img/favicon/favicon-32x32.png' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'CTAdmin/img/favicon/favicon-16x16.png' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'CTAdmin/img/favicon/apple-touch-icon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'CTAdmin/css/bootstrap.min.css' %}" />
  <link href="{% static 'CTAdmin/font/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'CTAdmin/css/main.min.css' %}" />
</head>


<body>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="tm-header tm-shadow-btm">
      <nav class="navbar justify-content-between justify-content-sm-start">
        <div class="d-none d-sm-block d-md-none tm-semi-close-nav" id="tm-semi-close-nav">
          <i class="icon ion-ios-arrow-round-back tm-f4 text-white"></i>
        </div>
        <a class="navbar-brand" href="index.html">Kunuba</a>
        <button type="button" class="btn btn-primary navbar-toggler border-0 d-sm-none ml-4" data-toggle="collapse"
          data-target="#sidebarNav" aria-expanded="false" aria-controls="sidebarNav" aria-label="Toggle sidebar nav">
          <i class="icon ion-ios-menu tm-f4"></i>
        </button>
      </nav>
    </header>
    <div class="container-fluid tm-main-con">
		<div class="flex-sm-nowrap">
			<!-- SIDEBAR -->
			<aside class="px-1 tm-sidebar border-sm-right text-truncate">
			  <div class="py-2 pt-sm-4 d-none d-sm-flex flex-nowrap justify-content-end justify-content-sm-start align-items-center">
				<div class="tm-title text-uppercase px-2">Menu</div>
			  </div>
			  <nav class="collapse d-sm-block tm-nav-links py-2 px-0" id="sidebarNav">
				<ul class="nav flex-column">
					{% if nocondition %}
					<!-- not used -->
						<div class="accordion" id="tm-sidebar-accor">
							<li class="nav-item">
							  <a href="javascript:void(0)" class="nav-link clearfix tm-sidebar-drop collapsed" data-toggle="collapse"
								data-target="#appointments-list" role="button" aria-haspopup="true" aria-expanded="false"
								aria-controls="#appointments-list">
								<span class="float-left">
								  <span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-person-add"></i></span>
								  <span class="align-text-bottom">My Tasks</span>
								</span>
								<span class="float-right"><i class="icon ion-ios-arrow-back tm-sidebar-caret"></i></span>
							  </a>
							  <div class="collapse py-2 px-3" id="appointments-list" data-parent="#tm-sidebar-accor"
								aria-labelledby="appointments-list">
								<ul class="nav nav-pills flex-column">

									<li class="nav-item">
										<a href="" class="nav-link clearfix">
										  <span class="float-left">
											<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-done-all"></i></span>
											<span class="align-text-bottom">KYC Tasks</span>
										  </span>
										</a>
									</li>
									<li class="nav-item">
										<a href="appointments_pending.html" class="nav-link clearfix">
										  <span class="float-left">
											<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-more"></i></span>
											<span class="align-text-bottom">Transaction Task</span>
										  </span>
										</a>
									</li>
								</ul>
							  </div>
							<span class="sr-only">(current)</span>
						</li>
					  </div>
					{% else %}
					  <li class="nav-item ">
						  <!---
						  	{% if MyTasks %} tm-sidebar-active clearfix {% endif %}
						  -->
						<a href="{% url 'CTAdmin:MyTasks' %}" class="nav-link {% if MyTasks %} tm-sidebar-active {% endif %} clearfix">
						  <span class="float-left">
							<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-home"></i></span>
							<span class="align-text-bottom">My Tasks</span>
						  </span>

						</a>
					  </li>
					{% endif %}
				  <li class="nav-item">
					<a href="{% url 'CTAdmin:Completed' %}" class="nav-link {% if Completed %} tm-sidebar-active {% endif %}">
					  <span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-sync"></i></span>
					  <span class="align-text-bottom">Completed Tasks</span>
					</a>
				  </li>
					{% if Star == T_ADMIN or Star == S_ADMIN %}
						<li class="nav-item">
							<a href="{% url 'CTAdmin:UpReferrers' %}" class="nav-link {% if Completed %} tm-sidebar-active {% endif %}">
							  <span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-cash"></i></span>
							  <span class="align-text-bottom">Unpaid Referrers</span>
							</a>
					  	</li>
					{% endif %}
					{% if Star == S_ADMIN %}
						<li class="nav-item">
							<a href="{% url 'CTAdmin:RegisterAdmin' %}" class="nav-link {% if RegisterAdmin %} tm-sidebar-active {% endif %} clearfix">
							  <span class="float-left">
								<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-add"></i></span>
								<span class="align-text-bottom">Add New Admin</span>
							  </span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'CTAdmin:ChangeLevel' %}" class="nav-link {% if ChangeLevel %} tm-sidebar-active {% endif %} clearfix">
							  <span class="float-left">
								<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-star"></i></span>
								<span class="align-text-bottom">Change Admin Level</span>
							  </span>
							</a>
						</li>
						<div class="accordion" id="tm-sidebar-accor">
							<li class="nav-item">
							  <a href="javascript:void(0)" class="nav-link clearfix tm-sidebar-drop collapsed {% if Assign %} tm-sidebar-active {% endif %}" data-toggle="collapse"
								data-target="#tasks-list" role="button" aria-haspopup="true" aria-expanded="false"
								aria-controls="#tasks-list">
								<span class="float-left">
								  <span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-person-add"></i></span>
								  <span class="align-text-bottom">Assign Admin Task</span>
								</span>

								<span class="float-right"><i class="icon ion-ios-arrow-back tm-sidebar-caret"></i></span>
							  </a>
							  <div class="collapse py-2 px-3" id="tasks-list" data-parent="#tm-sidebar-accor"
								aria-labelledby="tasks-list">
								<ul class="nav nav-pills flex-column">
								  <li class="nav-item">
									<a href="{% url 'CTAdmin:KYCTasks' %}" class="nav-link {% if KYCTasks %} tm-sidebar-active {% endif %} clearfix">
									  <span class="float-left">
										<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-done-all"></i></span>
										<span class="align-text-bottom">KYC Tasks</span>
									  </span>
									</a>
								  </li>
								  <li class="nav-item">
									<a href="{% url 'CTAdmin:TransactionTasks' %}" class="nav-link {% if TransactionTasks %} tm-sidebar-active {% endif %} clearfix">
									  <span class="float-left">
										<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-more"></i></span>
										<span class="align-text-bottom">Trans Tasks</span>
									  </span>
									</a>
								  </li>
								</ul>
							  </div>
							</li>
					 	 </div>
						<li class="nav-item">
							<a href="{% url 'CTAdmin:KunubaFee' %}" class="nav-link {% if KunubaFee %} tm-sidebar-active {% endif %} clearfix">
							  <span class="float-left">
								<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-star"></i></span>
								<span class="align-text-bottom">Set Kunuba Fee</span>
							  </span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'CTAdmin:EagleWatch' %}" class="nav-link {% if EagleWatch %} tm-sidebar-active {% endif %} clearfix">
							  <span class="float-left">
								<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-eye"></i></span>
								<span class="align-text-bottom">Overview</span>
							  </span>
								{% if EagleWatch %}<span class="sr-only">(current)</span>{% endif %}
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'CTAdmin:Deactivate' %}" class="nav-link {% if Deactivate %} tm-sidebar-active {% endif %} clearfix">
							  <span class="float-left">
								<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-eye"></i></span>
								<span class="align-text-bottom">Deactivate</span>
							  </span>
								{% if Deactivate %}<span class="sr-only">(current)</span>{% endif %}
							</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a href="{% url 'CTAdmin:Logout' %}" class="nav-link clearfix">
						  <span class="float-left">
							<span class="badge mr-2 tm-sidebar-icon"><i class="icon ion-ios-exit"></i></span>
							<span class="align-text-bottom">Logout</span>
						  </span>
						</a>
					</li>
				</ul>
			  </nav>
			</aside>
			<main class="px-3 tm-content">
				{% block content %}
				{% endblock %}
			</main>
			<!-- FOOTER -->
			<div class="tm-footer tm-shadow bg-white text-center clearfix">
			  <div class="offset-sm-4 offset-md-3 offset-xl-2">
				&copy; Copyright 2018
			  </div>
			</div>
			{% if ErrorMessages %}
				<!-- Modal with message -->
				<div class="modal fade" id="ErrormodalDone" tabindex="-1" role="dialog" aria-labelledby="ErrormodalDone" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header p-2">
						<!-- <h5 class="modal-title text-center">Appointment Request</h5> -->
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body p-2">
						<div class="container-fluid p-0">
							<ul>
								{% for Message in ErrorMessage %}
									<li>
										<h6 class="mb-3 text-muted">
											{{Child}}
										</h6>
									</li>
								{% endfor %}
							</ul>

						</div>
					  </div>
					  <div class="modal-footer p-2 justify-content-between">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					  </div>
					</div>
				  </div>
				</div>
				<!--<div class="modal fade" id="ErrormodalDone" tabindex="-1" role="dialog" aria-labelledby="modalDone" aria-hidden="false" style="display:block !important; opacity:1;top:140px">-->
				  <!--<div class="modal-dialog" role="document">-->
					<!--<div class="modal-content">-->
						<!--<div class="modal-header p-2">-->
							<!--&lt;!&ndash; <h5 class="modal-title text-center">Appointment Request</h5> &ndash;&gt;-->
							<!--<button type="button" id="closeError" class="close" data-dismiss="modal" aria-label="Close">-->
							  <!--<span aria-hidden="true">&times;</span>-->
							<!--</button>-->
						<!--</div>-->
						<!--<ul class="list-group list-group-flush">-->
						<!--</ul>-->
					<!--</div>-->
				  <!--</div>-->
				<!--</div>-->
			{% endif %}
			{% if Messages %}
				<!-- Modal with message -->
				<div class="modal fade" id="modalDone" tabindex="-1" role="dialog" aria-labelledby="modalDone" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header p-2">
						<!-- <h5 class="modal-title text-center">Appointment Request</h5> -->
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body p-2">
						<div class="container-fluid p-0">
							<ul>
								{% for Child in Message %}
									<li>
										<h6 class="mb-3 text-muted">
											{{Child}}
										</h6>
									</li>
								{% endfor %}
							</ul>

						</div>
					  </div>
					  <div class="modal-footer p-2 justify-content-between">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					  </div>
					</div>
				  </div>
				</div>
			{% endif %}
		</div>
	</div>
  </div>
  <script src="{% static 'CTAdmin/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'CTAdmin/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'CTAdmin/js/main.js' %}"></script>
  <script>



	{% if Message %}
		$("#modalDone").modal();

		//var close = document.getElementById('close');
		//var modalDone = document.getElementById('modalDone');
		//close.onclick = function()
		//{
			//modalDone.style.display = 'none !important'
			//modalDone.style.opacity = '0'
		//}
	{% endif %}

	{% if ErrorMessage %}
		$("#modalDone").modal();
		//var Errorclose = document.getElementById('closeError');
		//var ErrormodalDone = document.getElementById('ErrormodalDone');

		//Errorclose.onclick = function()
		//{
		//	ErrormodalDone.style.display = 'none !important'
		//	ErrormodalDone.style.opacity = '0'
		//}
	{% endif %}
  </script>
</body>

</html>