{% extends 'CTAdmin/base.html' %}
{% block content %}
    <div class="row">
    <div class="page-title mr-auto px-3 pt-2">
      <h4 class="h3">Completed Tasks</h4>
    </div>
    <nav aria-label="breadcrumb" class="ml-auto tm-breads">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'CTAdmin:MyTasks' %}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a>Completed Tasks</a></li>
      </ol>
    </nav>
    </div>
    <div class="row pt-1 pb-3 pt-sm-2 pb-sm-4">
    <div class="col-12">
      <div class="card tm-shadow-btm">
        <div class="card-header d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center">
          List of Tasks
        </div>
        <div class="card-body p-0">
          <div class="table-responsive flex-fill">
            <table class="table table-hover m-0">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                    <th scope="col">Currencies</th>
                    <th scrope="col">Ex Rate</th>
                    <th scope="col">Log</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% if TransactionsObject %}
                    {% for Child in TransactionsObject %}
                        <tr>
                            <td>Trade #{{ Child.Transaction.pk }}</td>
                            <td>{{ Child.Transaction.TransactionDate }}</td>
                            <td>{{ Child.Transaction.FromCurrency }}-{{ Child.Transaction.ToCurrency }}</td>
                            <td>{{ Child.Transaction.ExchangeRate }}</td>
                            <td>
                                {% if Child.NLog %}
                                        on {{ Child.NLog.ReviewedTransactionLog.LogDate }}: {{ Child.NLog.ReviewedTransactionLog.Log }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Action">
                                  <a class="btn btn-success" href="{% url 'CTAdmin:Transaction' Child.Transaction.pk %}">
                                    <i class="icon ion-ios-done-all"></i>
                                    view
                                  </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer pb-0">
          <nav class="page navigation">
            <ul class="pagination justify-content-end">
              <li class="page-item"><a href="#" class="page-link" aria-label="previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a></li>
              <li class="page-item active"><a href="#" class="page-link">1 <span class="sr-only">(current)</span></a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link" aria-label="next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    </div>
{% endblock %}