{% extends 'base.html' %}
{% block css %}
	{% load static %}
	<link href="{% static 'assets/css/style-1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="reg-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <div class="">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ Referrer }}"><i class="glyphicon glyphicon-circle-arrow-left"></i></a></li>
                                <li class="active"><a href="#tab1" data-toggle="tab">NEW PASSWORD</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <form action="" method="post" autocomplete="off">
                                        {% csrf_token %}
                                        {% if CP %}
                                            <span class="input">
                                                <input class="input__field" type="password" name="OldPassword" id="input-7">
                                                <label class="input__label" for="input-7">
                                                    <span class="input__label-content" data-content="E-MAIL">OLD PASSWORD</span>
                                                </label>
                                            </span>
                                        {% endif %}
                                        <span class="input">
                                            <input class="input__field" type="password" name="Password" id="input-9">
                                            <label class="input__label" for="input-9">
                                                <span class="input__label-content" data-content="E-MAIL">NEW PASSWORD</span>
                                            </label>
                                        </span>
                                        <span class="input">
                                            <input class="input__field" type="password" name="ConfirmPassword" id="input-8">
                                            <label class="input__label" for="input-8">
                                                <span class="input__label-content" data-content="E-MAIL">CONFIRM PASSWORD</span>
                                            </label>
                                        </span>

                                        <button type="submit" class="btn btn-reg">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}